

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #abc1d4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#home{
    width: 100%;
    height: 100vh;
}

.bigsection{
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pat-card{
    width: 90%;
    height: 90%;
    background: linear-gradient(
        248.8deg,
        rgba(255, 247, 247, 0.6) -13.88%,
        rgba(255, 247, 247, 0) 97.9%
      );
    border: 1px solid rgba(250, 237, 237, 0.6);
    backdrop-filter: blur(0.5rem);
    z-index: 3;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    width: 100%;
    height: 10%;
    display: flex;
    border-bottom: 2px solid white;
    align-items: center;
    justify-content: center;
}

.info-sec{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    
}

#S{
    padding: 1rem;
    background-color: rgb(6, 175, 175);
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all ease-out;
}

#S:hover{
    background-color: #abc1d4;
    color: white;
}

.treatment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(6, 175, 175);
    height: 100px;

}
.box1{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

#b{
    background-color:white;
    width: 150px;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    transition: 0.2s all ease-out;

}

#b:hover{
    background-color: rgb(63, 195, 195);
    cursor: pointer;
    

}

.newtable{

    /* background: linear-gradient(248.8deg,rgba(255, 247, 247, 0.6) -13.88%,rgba(255, 247, 247, 0) 97.9%); */
/* 
      border: 1px solid rgba(250, 237, 237, 0.6); */
      backdrop-filter: blur(0.5rem);width:100%;

}
tr{

    background-color: rgb(6, 175, 175);width:100%;
}
td{
    text-align: center;
    padding: 3px;
    background-color: #abc1d4;
    /* border-left: 1px solid #000; */
    border-bottom: 1pt solid rgb(6, 175, 175);
    
}